{% extends "::layout.html.twig" %}

{% block title %}Page Introuvable{% endblock %}

{% block content %}
    <section class="content">
        <div class="error-page">
            <h2 class="headline text-yellow"> 404</h2>

            <div class="error-content">
                <h3><i class="fa fa-warning text-yellow"></i> Oops! Page not found.</h3>

                <p>
                    La page demandée n'existe pas ou plus.
                </p>
            </div>
        </div>
    </section>
    <div>
        Si tu n'as pas peur du code : <br>
        <code>{{ status_code }} {{ status_text }}</code>
        <p>{{ exception.message }}</p>
    </div>
{% endblock %}
