{% extends "mgateSuiviBundle::layout.html.twig" %}

{% block javascript %}
    {{ form_javascript(form) }}
{% endblock %}

{% block content_bundle %}


    <h2>{{ 'suivi.suivi_nouveau_ajouter'|trans({}, 'suivi') }}</h2>

    {% include "mgateSuiviBundle:Suivi:formulaire.html.twig" %}


{% endblock %}
