{% extends "n7consultingRhBundle::layout.html.twig" %}

{% block content_bundle %}

  <h2>Ajouter une compétence</h2>

	{% include "n7consultingRhBundle:Competence:formulaire.html.twig" %}

{% endblock %}
