{% extends "N7consultingRhBundle::layout.html.twig" %}

{% block title %}Modifier une compétence - {{ parent() }}{% endblock %}

{% block content_title %}
    Modifier une compétence
{% endblock %}

{% block content_bundle %}
    {% include "N7consultingRhBundle:Competence:formulaire.html.twig" %}
    <div class="row">
        <div class="col-xs-6 col-sm-3">
            <a href="{{ path('N7consultingRh_competence_homepage') }}" class="btn btn-default">Retour à la liste des
                compétences</a>
        </div>
        <div class="col-xs-6 col-sm-3">
            <form class="bootbox-confirm"
                  data-content="Êtes-vous sûr de vouloir supprimer définitivement cette compétence ?"
                  action="{{ path('N7consultingRh_competence_supprimer', { 'id': form.vars.value.id }) }}"
                  method="post">
                {{ form_widget(delete_form) }}
                <button class="btn btn-danger">Supprimer la compétence</button>
            </form>
        </div>
    </div>

{% endblock %}
