parameters:
###configuration par defaut, local, wamp
    database_driver:   pdo_mysql
    database_host:     database
    database_port:     ~
    database_name:     jeyser
    database_user:     jeyser
    database_password: jeyser
    
    mailer_transport:  mail
    mailer_host:       localhost
    mailer_user:       ~
    mailer_password:   ~
    
    su_mail:      contact@N7consulting.fr
    su_username:  admin
    su_password:  admin
    
    locale:            fr
    secret:            ThisIsNotSecretYouKnow
    
    role_voir_confidentiel: ROLE_CA
    junior_authorizedStorageSize: 104857600
    junior_id: 1
