parameters:
###configuration par defaut, local, wamp
    database_driver:   pdo_mysql
    database_host:     database
    database_port:     ~
    database_name:     jeyser
    database_user:     jeyser
    database_password: jeyser

    #uses mailer container.
    mailer_transport:  smtp
    mailer_host:       mailer
    mailer_user:       ~
    mailer_password:   ~
    
    su_mail:      contact@N7consulting.fr
    su_username:  admin
    su_password:  admin
    
    locale:            fr
    secret:            ThisIsNotSecretYouKnow
    
    role_voir_confidentiel: ROLE_CA
    junior_authorizedStorageSize: 104857600
    junior_id: 1

    #technical parameters for sending mail
    technical_from: '%env(TECHNICAL_FROM)%'
    technical_to:  '%env(TECHNICAL_TO)%'
    technical_host: '%env(TECHNICAL_HOST)%'
    #defaults value to make jeyser work even though, env vars are unset.
    env(TECHNICAL_FROM): no-reply@jeyser-crm.local
    env(TECHNICAL_TO): dsi@jeyser-crm.local
    env(TECHNICAL_HOST): jeyser-crm.localdomain.local
