{# Formulaire d'ajout d'une étude #}

<form method="post" {{ form_enctype(form) }}>

	{{ form_widget(form) }}

	<input type="submit" value="Enregistrer l'AP" class="btn btn-default"/>
    <input type="submit" value="Enregistrer l'AP et passer à la CC" name="ap" class="btn btn-info"/>
</form>
