{# Formulaire d'ajout d'une étude #}

<form method="post" {{ form_enctype(form) }}>

	{{ form_widget(form) }}

	<input type="submit" value="{{ 'suivi.ap_enregistrer'|trans({}, 'suivi') }}" class="btn btn-default"/>
    <input type="submit" value="{{ 'suivi.ap_enregistrer_cc_passer'|trans({}, 'suivi') }}" name="ap" class="btn btn-info"/>
</form>
