{% extends "MgatePersonneBundle::layout.html.twig" %}


{% block title %}
    Ajouter un Prospect
{% endblock %}

{% block content_title %}
    Ajouter un Prospect
{% endblock %}

{% block breadcrumb %}
    <ul class="breadcrumb no-margin pull-right">
        <li>
            <a href="{{ path('MgatePersonne_prospect_homepage') }}">Liste des prospects</a>
        </li>
        <li>
            Ajouter un prospect
        </li>
    </ul>
{% endblock %}

{% block content_bundle %}
    {% include "MgatePersonneBundle:Prospect:formulaire.html.twig" %}
    {{ format }}
{% endblock %}
