{% extends "MgateSuiviBundle::layout.html.twig" %}

{% block title %}
    {{ 'suivi.etude_modifier'|trans({}, 'suivi') }} - {{ parent() }}
{% endblock %}

{% block content_bundle %}

    <h2>{{ 'suivi.ap_modifier'|trans({}, 'suivi') }}</h2>

    {% include "MgateSuiviBundle:Etude:formulaire.html.twig" %}

    <p>Modification d'un Avant-Projet</p>

    <p>
        <a href="" >{{ 'suivi.retour'|trans({}, 'suivi') }}</a>
    </p>

{% endblock %}

