{% extends "::layout.html.twig" %}

{% block title %}
    RH - {{ parent() }}
{% endblock %}

{% block content %}

    {% block sous_titre %}
    <h1>Gestion RH</h1>
    <hr>
    {% endblock %}

    {% block content_bundle %}
    {% endblock %}

{% endblock %}
