{# layout père du treso bundle #}
{% extends "::layout.html.twig" %}

{% block title %}
    {{ 'treso.tresorerie'|trans({}, 'treso') }} - {{ parent() }}
{% endblock %}

{% block content %}

    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">
                {% block content_title %}
                    {{ 'treso.tresorerie'|trans({}, 'treso') }}
                {% endblock %}
            </h3>
        </div>
        <div class="box-body">
            {# On définit un nouveau block, que les vues du bundle pourront remplir #}
            {% block content_bundle %}
            {% endblock %}

        </div>
        <div class="box-footer"></div>
    </div>

{% endblock %}
